<services>
  <service env="DEV" url="/dp/EchoService/echo">
    <allow issuer="self-signed">
      <dn>/C=CA/ST=Ontario/L=Toronto/O=Orange Specs Incorporated/OU=Consulting/CN=client-1.ssltest.orangespecs.com</dn>
    </allow>
    <allow issuer="orangespecs">
      <cn>client-4.ssltest.orangespecs.com</cn>
    </allow>
    <endpoint>
      <hostname>localhost</hostname>
      <port>8888</port>
    </endpoint>
  </service>
  <service env="DEV" url="/dp/EchoService">
    <allow issuer="self-signed">
      <cn>client-2.ssltest.orangespecs.com</cn>
    </allow>
    <endpoint>
      <hostname>localhost</hostname>
      <port>8888</port>
    </endpoint>
  </service>
</services>